/* GAME CONTAINER */
.game__container {
    font-size: 1em;
    width: 45em;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    // transform: perspective(1000px) rotateX(40deg);
    // transform-origin: right 65%;
    transform-style: preserve-3d;
}

  // &__shadow {
  //   display: block;
  //   position: absolute;
  //   left: -15%;
  //   top: -25%;
  //   height: 150%;
  //   width: 130%;
  //   background-image: radial-gradient(
  //     closest-side,
  //     rgba(23, 29, 37, 0),
  //     #171d25
  //   );
  //   opacity: 0.9;
  //   transform: translateZ(10px);
  //   pointer-events: none;
  // }
